Repository kubevirt/enhancements, pull requests merged in 2025-04, with the labels that each got.

#32 Enhancement: Allow to disable the 64-bit PCI hole
  veps/sig-compute/pcihole64-proposal.md
Labels: lgtm, release-note-none, size/L, sig/compute, approved, dco-signoff: yes

#12 Declarative Volume Hotplug
  veps/sig-storage/declarative-volume-hotplug.md
Labels: lgtm, release-note, size/L, sig/compute, approved, sig/storage, dco-signoff: yes

#11 add design for supporting DRA devices in KubeVirt
  veps/sig-compute/10-dra-devices/vep.md
Labels: lgtm, size/XL, release-note-none, approved, dco-signoff: yes

#13 2nd iteration of the process
  .github/ISSUE_TEMPLATE/vep.md
  README.md
  veps/NNNN-vep-template/vep.md
Labels: lgtm, release-note-none, size/L, approved, dco-signoff: yes

#6 Enhancement: decentralize live migration flows
  veps/sig-compute/decentralized-migration/decentralized-migration-vep.md
  veps/sig-compute/decentralized-migration/decentralized_cross_cluster.png
  veps/sig-compute/decentralized-migration/decentralized_cross_namespace.png
  veps/sig-compute/decentralized-migration/decentralized_in_namespace.png
  veps/sig-compute/decentralized-migration/migration_current_state.png
  veps/sig-compute/decentralized-migration/sync_controller_incoming_vmi.png
  veps/sig-compute/decentralized-migration/sync_controller_reconcile.png
Labels: lgtm, release-note-none, size/L, sig/compute, approved, dco-signoff: yes

#8 Integrate NIC Hotplug with LiveUpdate Rollout Strategy
  veps/sig-network/ns-admin-nichotplug.md
Labels: lgtm, sig/network, release-note-none, size/L, approved, dco-signoff: yes

#42 Enhancement: Object Graph subresource
  veps/sig-storage/vm-object-graph.md
Labels: lgtm, release-note-none, size/L, approved, dco-signoff: yes

#15 Enhancement: IBM Z Secure Execution
  veps/sig-compute/secure-execution.md
Labels: size/M, lgtm, release-note-none, sig/compute, approved, dco-signoff: yes
